<nav id="uniqueNavBar">
  <img src="assets/logo%20OSS.png" class="logo" alt="Logo" />

  <ul class="uniqueNavList">
    <li class="uniqueNavItem"><a routerLink="/home" class="uniqueNavLink">Home</a></li>
    <li class="uniqueNavItem"><a routerLink="/cagre-geomorphologie" class="uniqueNavLink">Cadre Geomorphologie</a></li>
    <li class="uniqueNavItem"><a routerLink="/decision-tree" class="uniqueNavLink">Decision Tree</a></li>
    <li class="uniqueNavItem"><a routerLink="/indices" class="uniqueNavLink">Indices</a></li>
    <li class="uniqueNavItem"><a routerLink="/random-forest" class="uniqueNavLink">Random Forest</a></li>
    <li class="uniqueNavItem"><a routerLink="/svm" class="uniqueNavLink">SVM</a></li>
  </ul>
</nav>

<body>
<div style="margin-top: 50px;">
  <h1>Arbre de Décision pour la Classification de la Couverture Terrestre</h1>
</div>

<section id="introduction">
  <h2>Qu'est-ce qu'un Arbre de Décision ?</h2>
  <p>
    Un Arbre de Décision est un algorithme d'apprentissage automatique simple et intuitif, utilisé pour classer différents types de terrains,
    tels que les forêts, les zones urbaines et les plans d'eau.
  </p>
</section>

<section id="fonctionnement">
  <h2>Comment ça marche</h2>
  <ul>
    <li>Divise les données en sous-groupes basés sur les caractéristiques les plus importantes.</li>
    <li>Chaque nœud représente une décision ou une règle, et les branches mènent aux résultats de classification.</li>
  </ul>
</section>

<section id="applications">
  <h2>Applications</h2>
  <ul>
    <li>Classification d'images satellitaires</li>
    <li>Analyse de l'utilisation des sols</li>
    <li>Détection des anomalies environnementales</li>
  </ul>
</section>

<section id="avantages">
  <h2>Avantages</h2>
  <ul>
    <li>Interprétation facile et visuelle des résultats</li>
    <li>Peut gérer à la fois des données catégoriques et continues</li>
    <li>Ne nécessite pas de préparation importante des données</li>
  </ul>
</section>

<iframe src="https://ee-oumaymahanafi6.projects.earthengine.app/view/decision-trees" width="100%" height="600" frameborder="0" allowfullscreen></iframe>

</body>
