<nav id="uniqueNavBar">
  <img src="assets/logo%20OSS.png" class="logo" alt="Logo" />

  <ul class="uniqueNavList">
    <li class="uniqueNavItem"><a routerLink="/home" class="uniqueNavLink">Home</a></li>
    <li class="uniqueNavItem"><a routerLink="/cagre-geomorphologie" class="uniqueNavLink">Cadre Geomorphologie</a></li>
    <li class="uniqueNavItem"><a routerLink="/decision-tree" class="uniqueNavLink">Decision Tree</a></li>
    <li class="uniqueNavItem"><a routerLink="/indices" class="uniqueNavLink">Indices</a></li>
    <li class="uniqueNavItem"><a routerLink="/random-forest" class="uniqueNavLink">Random Forest</a></li>
    <li class="uniqueNavItem"><a routerLink="/svm" class="uniqueNavLink">SVM</a></li>
  </ul>
</nav>


<body>
<div style="margin-top: 50px;">
  <h1>CadreGeomorphologie pour l'Analyse Géomorphologique</h1>
</div>

<section id="introduction">
  <h2>Qu'est-ce que CadreGeomorphologie ?</h2>
  <p>
    CadreGeomorphologie est un outil cartographique interactif permettant d'analyser la géomorphologie d'une région en affichant trois couches principales : Ombrage, Aspect, et Pente. Ces couches offrent une vue détaillée des reliefs et des caractéristiques du terrain.
  </p>
</section>

<section id="fonctionnement">
  <h2>Comment ça marche</h2>
  <ul>
    <li><strong>Ombrage :</strong> Représente les zones d'ombre projetées en fonction de la topographie, aidant à visualiser les reliefs et les pentes.</li>
    <li><strong>Aspect :</strong> Montre l'orientation des pentes (exposition) par rapport aux points cardinaux, indiquant les versants exposés au nord, sud, est ou ouest.</li>
    <li><strong>Pente :</strong> Indique l'inclinaison ou la raideur des pentes, ce qui est essentiel pour identifier les zones sujettes à l'érosion ou aux glissements de terrain.</li>
  </ul>
</section>

<section id="applications">
  <h2>Applications</h2>
  <ul>
    <li>Planification territoriale et gestion des risques naturels</li>
    <li>Études d'impact environnemental</li>
    <li>Prévision des risques géologiques tels que les glissements de terrain</li>
    <li>Aménagement et gestion des ressources naturelles</li>
  </ul>
</section>

<section id="avantages">
  <h2>Avantages</h2>
  <ul>
    <li>Permet une analyse visuelle et rapide des reliefs et des pentes</li>
    <li>Facilite la prise de décision pour la gestion des risques environnementaux</li>
    <li>Interactif, avec possibilité d'activer ou de désactiver les couches selon les besoins de l'utilisateur</li>
    <li>Utile pour les études géomorphologiques et l'aménagement du territoire</li>
  </ul>
</section>

<iframe src="https://ee-oumaymahanafi6.projects.earthengine.app/view/cagre-gomorphologique" width="100%" height="600" frameborder="0" allowfullscreen></iframe>

</body>
