<nav id="uniqueNavBar">
  <img src="assets/logo%20OSS.png" class="logo" alt="Logo" />

  <ul class="uniqueNavList">
    <li class="uniqueNavItem"><a routerLink="/home" class="uniqueNavLink">Home</a></li>
    <li class="uniqueNavItem"><a routerLink="/cagre-geomorphologie" class="uniqueNavLink">Cadre Geomorphologie</a></li>
    <li class="uniqueNavItem"><a routerLink="/decision-tree" class="uniqueNavLink">Decision Tree</a></li>
    <li class="uniqueNavItem"><a routerLink="/indices" class="uniqueNavLink">Indices</a></li>
    <li class="uniqueNavItem"><a routerLink="/random-forest" class="uniqueNavLink">Random Forest</a></li>
    <li class="uniqueNavItem"><a routerLink="/svm" class="uniqueNavLink">SVM</a></li>
  </ul>
</nav>

<body>
<div style="margin-top: 50px;">
  <h1>SVM pour la Classification de la Couverture Terrestre</h1>
</div>

<section id="introduction">
  <h2>Qu'est-ce que le SVM ?</h2>
  <p>
    La Machine à Vecteurs de Support (SVM) est un puissant algorithme d'apprentissage automatique utilisé pour classer différents types de terrains,
    tels que les forêts, les zones urbaines et les étendues d'eau.
  </p>
</section>

<section id="fonctionnement">
  <h2>Comment ça marche</h2>
  <ul>
    <li>Il trouve l'hyperplan optimal qui sépare les différentes classes.</li>
    <li>Il maximise la marge entre les classes en utilisant des vecteurs de support.</li>
  </ul>
</section>

<section id="applications">
  <h2>Applications</h2>
  <ul>
    <li>Classification d'images satellitaires</li>
    <li>Détection des changements de couverture terrestre</li>
    <li>Planification et gestion urbaine</li>
  </ul>
</section>

<section id="avantages">
  <h2>Avantages</h2>
  <ul>
    <li>Grande précision dans la classification</li>
    <li>Efficace dans les espaces à haute dimension</li>
    <li>Robuste contre le surapprentissage</li>
  </ul>
</section>


<iframe src="https://ee-oumaymahanafi6.projects.earthengine.app/view/svm" width="100%" height="600" frameborder="0" allowfullscreen></iframe>



<footer>
  <p>&copy; 2024 Your Name. All rights reserved.</p>
</footer>
</body>
